{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": true
  },
  "extends": ["airbnb", "prettier/react", "plugin:prettier/recommended"],
  "env": {
    "browser": true
  },
  "globals": {
    "config": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "arrow-body-style": ["error", "as-needed"],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-shadow": ["error", { "allow": ["_"] }],
    "lines-between-class-members": ["error", "always"],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      {
        "blankLine": "any",
        "prev": ["const", "let", "var"],
        "next": ["const", "let", "var"]
      }
    ]
  }
}
